<%- include("partials/header.ejs") %>

<div class="card m-4">
    <table class="table">
        <tr class="table-secondary">
            <th>Name</th>
            <th>Title</th>
            <th>Date</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <% if (data.length === 0) { %>
            <tr>
                <td colspan="5" class="text-center">
                    No To-Do Item
                </td>
            </tr>
        <% } else { %>
            <% data.forEach(function(item) { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.title %></td>
                    <td><%= item.date %></td>
                    <td><%= item.description %></td>
                    <td>
                        <form method="POST" action="/delete">
                            <input type="hidden" name="id" value="<%= item.id %>">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        <% } %>
    </table>
</div>

<%- include("partials/footer.ejs") %>
